{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <h1 class="page-title">{{ 'admin.dashboard.page_title'|trans }}</h1>

    <p class="description">{{ 'admin.dashboard.description'|trans }}</p>
{% endblock %}
